[submodule "docker-library-official-images/freeipa"]
	path = docker-library-official-images/freeipa
	url = https://github.com/freeipa/freeipa-container.git
[submodule "docker-library-official-images/mysql"]
	path = docker-library-official-images/mysql
	url = https://github.com/docker-library/mysql
[submodule "docker-library-official-images/jenkins"]
	path = docker-library-official-images/jenkins
	url = https://github.com/jenkinsci/docker
